*{
    margin: 20px;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #cccccc;
    border: 1px
}
form{
    width: 30%;
    padding: 50px;
    margin: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 10px;
}

#name{
    padding: 5px;
    margin: 5px;
}

#course{
    padding: 5px;
    margin: 5px;
}

label{
    padding: 5px;
    margin: 5px;
}

textarea{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

button{
    background-color: blue;
    color: white;
    padding: 10px;
    border: 5px solid white;
    border-radius: 10px;
}

h2{
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    width: 35%;
    text-align: center;
}