h1{
    text-align: center;
}

.flexContainer1{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    align-contents: space-evenly;
}

.item{
    margin: 10px;
    display: flex;
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(152, 218, 218);
}

.flexContainer2{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-content: space-evenly;
}

.column{
    margin: 5px;
    padding: 10px;
    display: flex;
    border: 1px solid black;
    background-color: rgb(152, 218, 218);
    justify-content: center;
}

.flexContainer31{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.just{
    padding: 20px;
    margin: 5px;
    background-color: rgb(152, 218, 218);
    border: 1px solid black;
}

.flexContainer32{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.start{
    padding: 20px;
    margin: 5px;
    background-color: rgb(152, 218, 218);
    border: 1px solid black;

}

.flexContainer4{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.top{
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    background-color: rgb(152, 218, 218);
    align-self: flex-start;
}

.tail{
    padding: 20px 10px;
    margin: 5px;
    border: 1px solid black;
    background-color: rgb(152, 218, 218);
    align-self: flex-start;
}

.short{
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    background-color: rgb(152, 218, 218);
    align-self: flex-end;
}

.flexContainer5{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrap{
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    background-color: rgb(152, 218, 218)    ;
}

.flexContainer10{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.order:nth-child(1){
    padding: 20px;
    margin: 5px;
    background-color: rgb(152, 218, 218);
    border: 1px solid black;
}

.order:nth-child(2){
    padding: 20px;
    margin: 5px;
    background-color: rgb(152, 218, 218);
    border: 1px solid black;
    order: 1;
}

.order:nth-child(3){
    padding: 20px;
    margin: 5px;
    background-color: rgb(152, 218, 218);
    border: 1px solid black;
    order: 2;
}
.flexContainer11{
    border: 1px solid black;
    display: flex;
}

.alignself:nth-child(1){
    display: flex;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    background-color: rgb(152, 218, 218);
    align-self: flex-start;
    justify-items: flex-start;
}

.alignself:nth-child(2){
    display: flex;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    background-color: rgb(152, 218, 218);
    align-self: center;
    justify-items: center;
}

.alignself:nth-child(3){
    display: flex;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    background-color: rgb(152, 218, 218);
    align-self: flex-end;
    justify-items: flex-end;
}